@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

body {
  background-color: #d9e4f5;
  background: linear-gradient(90deg, #326ad1 0%, #b0c4ff 75%) fixed;
  background-size: cover;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto Condensed", sans-serif;
}

.big-card {
  display: flex;
  flex-direction: row;
  background-color: #000000;
  border-radius: 0.5rem;
  width: 90rem;
  height: 40rem;
  margin: 2rem 2rem;
  overflow: hidden;
}

.text-container {
  width: 55rem;
  text-align: center;
}

.text h1 {
  justify-content: center;
  color: white;
}
.card {
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.other-info {
  display: flex;
}

.small-info {
  margin: 1rem;
  backdrop-filter: blur(10px);
  border-radius: 1rem;
  padding: 0.5rem;
  border: 1px solid;
}

.other-info {
  margin-top: 2.5rem;
  display: flex;
  size: 6rem;
}

.small-partange {
  font-size: 1.5rem;
}

.small-text {
  font-size: 1.2rem;
}

.humidity {
  padding: 0.2rem 1.5rem;
}

.wind {
  padding: 0.2rem 1rem;
}

.cloudiness {
  padding: 0.2rem 1rem;
}

.submit-box {
  flex-direction: column;
  background: linear-gradient(45deg, #d9e3ff 0%, #cfcfcf 75%);
  width: 40%;
}

.search-bar {
  width: 75%;
  padding-left: 1rem;
  margin: 1.5rem;
  border-radius: 1rem;
  border: 1px solid;
  font-size: 1.5rem;
  background-color: #ffffff;
}

.search-bar:focus {
  outline: none;
}

.svg-icon {
  width: 1em;
  height: 1em;
  padding-top: 1px;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: rgb(0, 0, 0);
}

.button {
  border: none;
  font-size: 1.3rem;
  background-color: transparent;
  cursor: pointer;
}

.city {
  display: flex;
  align-items: center;
  font-size: 4rem;
  margin-top: 0;
  margin-bottom: 0;
}

.city svg {
  margin-left: 1rem;
}

.date {
  font-size: 1.2rem;
  margin-top: 0;
}

.temp {
  font-size: 3.5rem;
  margin-bottom: 0;
}

.weather {
  font-size: 2.3rem;
  margin: 0.5rem 0 0 0;
}

.min-max {
  font-size: 1.2rem;
  margin: 0.5rem 0 0 0;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.active {
  display: none;
}

.daily-forecast {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 1.4rem;
  border-top: 1px solid;
}

.daily {
  margin: 1.5rem 3rem;
}

.daily-day {
  color: #326ad1;
}

.button-daily {
  margin: 0 3rem;
  padding: 0.5rem;
  background-color: #b0c4ff;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.2rem;
}

.button-daily:hover {
  padding: 0.3rem 1.2rem;
  font-size: 1.5rem;
}

.daily-container {
  color: white;
  text-align: center;
  font-size: 2rem;
}

.info-msg {
  text-align: center;
  padding: 5rem;
  font-size: 2.5rem;
}

.error-msg {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin: 2rem 5rem;
  padding-top: 1rem;
  border: red solid;
  border-radius: 1rem;
  /* color: red; */
}

.svg-icon__error {
  width: 2em;
  height: 2em;
  padding-top: 1px;
  fill: red;
}

.error-info {
  margin-top: 0.2rem;
}

.model {
  background-color: rgb(255, 255, 255);
  width: 50rem;
  height: 35rem;
  position: absolute;
  border: #326ad1 solid;
  border-radius: 1rem;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  /* justify-content: center; */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.hidden {
  display: none;
}

.close-model {
  position: absolute;
  right: 1.2rem;
  top: 1rem;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
}

.title h2 {
  font-size: 2rem;
  margin: 0.8rem 0;
}

.model-info {
  width: 100%;
  height: 100%;
  background-color: #82b8f5;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
}

.box-info {
  display: flex;
  justify-content: space-around;
}

.model-info-boxes {
  border-top: #000000 solid;
  text-align: center;
}

.model-info-boxes h3 {
  margin: 0.8rem 0;
  margin-bottom: 0;
  font-size: 2rem;
}

.model-info-boxes p {
  margin: 1.2rem 0;
  font-size: 1.5rem;
}

.title{
  display: flex;
  align-items: center;
}